.LOGO-IMAGE {
  width: 5rem;
}

.PROFILE-PIC {
  position: absolute;
  right: 11rem;
  top: 3.7rem;
  width: 46%;
}

.CLICKABLE-LINK:link, .CLICKABLE-LINK:visited, .CLICKABLE-LINK:active {
  text-decoration: none;
  color: #000000;
}
.CLICKABLE-LINK:hover, .CLICKABLE-LINK:focus {
  color: #e45447;
}

.BUTTON-LINK:link, .BUTTON-LINK:active, .BUTTON-LINK:visited {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.normal-button:hover .BUTTON-LINK {
  color: #e45447;
}

.arrow-up-down {
  display: inline-block;
  margin-bottom: 2px;
  width: 8px;
  height: 8px;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.nav--menu__element:nth-child(4):hover > .arrow-up-down {
  transform: rotate(135deg);
  border-color: #e45447;
}

.nav--menu__element:nth-child(5):hover > .arrow-up-down {
  transform: rotate(135deg);
  border-color: #e45447;
}

.TITLE {
  font-size: 7.3rem;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
}

.SUBTITLE {
  font-size: 3.1rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.PARA {
  font-size: 1.8rem;
}

.font-blue-dark {
  color: #90acd2;
}

.font-orange-red {
  color: #e45447;
}

@keyframes top-to-bottom {
  0% {
    transform: translateY(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bottom-to-top {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.main {
  height: 100vh;
  position: relative;
  background: linear-gradient(to right, #fff, #fff 70.15%, #90acd2 70.15%);
}
.main--heading {
  max-width: 72.3rem;
  position: absolute;
  left: 16.8rem;
  top: 18.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main--heading__title {
  display: flex;
  flex-direction: column;
}
.main--heading__title .main-comment {
  margin-bottom: 3.5rem;
  opacity: 0;
  animation: top-to-bottom 2s forwards;
}
.main--heading__title .main-comment .main-button {
  border: none;
  background-color: #90acd2;
  padding: 3.3rem 2.7rem;
  color: #fff;
  border-radius: 1rem;
  border-bottom-right-radius: 0;
  position: relative;
}
.main--heading__title .main-comment .main-button .TOOL-TIP {
  position: absolute;
  background-color: inherit;
  height: 2.4rem;
  width: 2.3rem;
  bottom: -2.3rem;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.main--heading__title .main-title {
  font-size: 7.3rem;
  opacity: 0;
  padding-left: 0.5rem;
  animation: bottom-to-top 2s 1s forwards;
  margin-bottom: 1.2rem;
}
.main--heading__title .sub-title {
  opacity: 0;
  animation: bottom-to-top 2s 2s forwards;
  max-width: 47.6rem;
  line-height: 1.5;
  color: #777777;
}
.main--heading__button {
  margin-top: 5.6rem;
}

.normal-button {
  border: 0.3rem solid transparent;
  background-color: #e45447;
  padding: 1.8rem 6.2rem;
  border-radius: 5rem;
  color: #fff;
  transition: 0.3s;
}
.normal-button:hover, .normal-button:active {
  background-color: #fff;
  color: #e45447;
  border: 0.3rem solid #e45447;
}

.nav {
  height: 8.5rem;
  position: fixed;
  width: 100vw;
  z-index: 1;
  text-align: center;
}
.nav--container {
  height: inherit;
  margin-left: 15.5rem;
  width: 80rem;
  max-width: 80em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav--menu {
  display: flex;
  flex-direction: row;
}
.nav--menu__element {
  position: relative;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
}

/*# sourceMappingURL=main.css.map */
