@use 'variables';
.normal-button {
  border: 0.3rem solid transparent;
  background-color: variables.$orange-red;
  padding: 1.8rem 6.2rem;
  border-radius: 5rem;
  color: variables.$white;
  transition: 0.3s;
  cursor: pointer;
  &:hover,
  &:active {
    background-color: variables.$white;
    color: variables.$orange-red;
    border: 0.3rem solid variables.$orange-red;
  }
}
