@use 'variables';

//Absolute images

.PROFILE-PIC {
  position: absolute;
  right: 11rem;
  top: 3.7rem;
  width: 46%;
}

//font sizes and colors
.TITLE {
  font-size: variables.$title-desktop-size;
  font-weight: 800;
  font-family: variables.$font-title;
}

.SUBTITLE {
  font-size: variables.$subtitle-desktop-size;
  font-family: variables.$font-subtitle;
  font-weight: 400;
}

.PARA {
  font-size: variables.$para-desktop-size;
}

.font-blue-dark {
  color: variables.$blue-dark;
}

.font-orange-red {
  color: variables.$orange-red;
}

//margins

@mixin TOP-MARGIN($value) {
  margin-top: $value;
}

@mixin BOTTOM-MARGIN($value) {
  margin-bottom: $value;
}

//Keyframes

@keyframes top-to-bottom {
  0% {
    transform: translateY(-10rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bottom-to-top {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }

  75% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
