
// Colors
$blue-dark: #90acd2;
$white: #fff;
$orange-red: #e45447;
$grey-dark: #777777;

//Font-variables

$font-para: "Lexend Deca", sans-serif;
$font-title: "Nunito", sans-serif;

//Font-sizes <DESKTOP>

$para-desktop-size: 1.8rem;
$title-desktop-size: 7.3rem;
$subtitle-desktop-size: 3.1rem;
