// Colors
$blue-dark: #90acd2;
$white: #fff;
$orange-red: #e45447;
$grey-dark: #777777;
$black: #000000;

//Font-variables

$font-subtitle: "Lexend Deca", sans-serif;
$font-title: "Nunito", sans-serif;
$font-para: "Nunito", sans-serif;
$font-sm-para: "Lexend Deca", sans-serif;
//Font-sizes <DESKTOP>

$para-desktop-size: 1.8rem;
$title-desktop-size: 7.3rem;
$subtitle-desktop-size: 3.1rem;
$sm-para-desktop-size: 1.5rem;
